.App{
  background-color: var(--background);
  color: var(--text-col);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.yellow{
  color: var(--accent);
}

.input-error{
  background: var(--light-red) !important
}

h1{
  font-size: 36px;
  color: var(--headers-col);
}

h2{
  color: var(--headers-col);
  font-size: var(--header-fz);
  text-transform: uppercase;
  text-align: center;
}

h3{
  color: var(--headers-col);
  font-size: 20px;
  margin-top: 1.5em;
  margin-bottom: 10px;
}



span{
  color: var(--headers-col);
}

label{
  color: var(--label-col);
  font-size: var(--label-fz);
  text-transform: uppercase;
  text-align: center;
}

input{
  appearance: none;
  border: none;
  text-align: center;
  font-size: var(--input-fz);
  padding: 0;
  font-family: 'RobotoCondensed', sans-serif;
}

input::-webkit-inner-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

input[type='number']{
  -moz-appearance: textfield;
}

.switch-theme-btn{
  border: none;
  background: var(--background);
  position: fixed;
  top: 15px;
  right: 15px;
}

.switch-theme-btn img{
  height: 36px;
  background: var(--background);
}

.language-selector{
  position: fixed;
  top: 15px;
  left: 15px;
  height: 36px;
  border-radius: 50%;
}

.language-button{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
  margin-left: .3em;
  transition: all .4s ease;
}

.language-button:nth-of-type(2){
  transition: all .6s ease;
}

.language-button:nth-of-type(3){
  transition: all .8s ease;
}


.language-button__current{
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s ease;
}

.hide{
  transform: translateY(-50px);
  opacity: 0;
}


.date-form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  margin-top: 2em;
}

.Result .date-form{
  margin-top: .5em;
}

.input-form label{
  padding-bottom: 10px;
}

.flex-col-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.date-input{
  height: 50px;
  width: 100px;
  border-radius: 10px;
  background: #fff;
  font-size: var(--input-fz);
}

.time-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-header h2{
  margin-bottom: 0;
  margin-top: 2em;
}

.time-header .optional{
  opacity: 0.6;
  font-size: 14px;
}

.time-form{
  margin-top: .5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.time-form .flex-col-wrapper:nth-child(1), .time-form .flex-col-wrapper:nth-child(3){
  margin-right: 1em;
  margin-left: 1em;
}

.time-form .flex-col-wrapper .flex-col-wrapper{
  margin: 0;
}

.time-input{
  height: 55px;
  width: 50px;
  border-radius: 10px;
  background: #fff;
  font-size: var(--input-fz);
}

.time-colon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
  animation: pulse 1.5s linear infinite;
}

.time-colon span{
  line-height: 1; 
  color: var(--accent);
  font-weight: bold;
}

.input-form .time-colon span{
  margin-top: 1em;
}

.Result .time-colon span{
  margin-bottom: 1em;
}

.button{
  width: var(--button-size);
  height: var(--button-size);
  border: none;
  border-radius: 100%;
  color: var(--text-col);
  background: var(--accent);
  cursor: pointer;
  font-family: 'RobotoCondensed', serif;
}

.arrow{
  height: 30%;
  width: 30%;
  border-top: 1px solid var(--arrow-col);
  border-right: 1px solid var(--arrow-col);
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-line{
  height: 1px;
  width: 75%;
  background: var(--arrow-col);
  animation: arrow-line 1.5s linear infinite;
  
}

@keyframes arrow-line {
  from{
    transform: rotate(-45deg) translateX(-50%);
  }
  50%{
    transform: rotate(-45deg) translateX(0);
  }
  to{
    transform: rotate(-45deg) translateX(-50%);
  }

}

.start-button{
  margin-top: 5em;
}



.about-button{
  height: 24px;
  width: 24px;
  border-radius: 100%;
  border: 1px solid var(--headers-col);
  color: var(--headers-col);
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0.5;
}

.Result {
  width: 320px;
}

.Result h2{
  font-weight: 400;
  margin-bottom: .3em;

}

.Result h3{
  font-weight: 400;
  text-transform: uppercase;
  font-size: var(--input-fz);
  color: var(--label-col);
}

.Result label{
  margin-top: .2em;
}

.Result span{
  color: var(--text-col);
}

.Result .yellow{
  color: var(--accent);
}

.bday-wrapper{
  margin-top: 1.5em;
  width: 100%;
}

.bday-wrapper .yellow{
  font-weight: 700;
  font-size: 36px;
  margin-right: .5em;
}

.bday-label h3{
  width: 70%;
}

.time-pass-wrapper{
  width: 100%;
}

.time-pass{
  width: 100%;
  height: 54px;
  justify-content: start;
}

.time-pass .date-input{
  width: 200px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: .5em;
}

.time-pass h3{
  margin-left: .5em;
}


.return-button{
  transform: rotateZ(180deg);
  margin-top: 3em;
}

.loading{
  background-color: var(--dark);
  color: #fff;
  height: 100vh;
  width: 100vw;
}

.loading-circle{
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  border: 4px solid #fff;
  border-top: 4px solid var(--accent);
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to{
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from{
    opacity: 0;
    transform: scale(0.95);
  }
  50%{
    opacity: 1;
    transform: scale(1);
  }
  to{
    opacity: 0;
    transform: scale(0.95);
  }
}


.About .button{
  margin-top: 15vh;
}

.About h1{
  margin-bottom: 10vh;
}

.copyright{
  color: var(--headers-col);
  position: absolute;
  bottom: 25px;
}