:root {
  --background: #f6f6f6;
  --headers-col: #000;
  --dark: #222831;
  --text-col: #000;
  --label-col: #000;
  --arrow-col: #fff;
  --accent: #1E88E5;
  --light-red: #ef9a9a;
  --label-fz: 18px;
  --input-fz: 20px;
  --header-fz: 24px;
  --button-size: 70px;

}

[data-theme='dark']{
  --background: #222831;
  --headers-col: #fff;
  --label-col: #fff;
  --accent: #EBE326;
  --arrow-col: #000

}

body {
  margin: 0;
  font-family: 'RobotoCondensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}